RewriteEngine On

# Si no es un archivo o directorio existente, reescribe URL para que apunte a un archivo .html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1.html [L]

# Opcional: Redirigir de .html a versión sin .html (SEO-friendly)
RewriteCond %{THE_REQUEST} \s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]
