@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0e1111;
  color: white;
  scroll-behavior: smooth;
  @apply text-base md:text-sm lg:text-sm xl:text-sm 2xl:text-base;
}

@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Light.otf");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Medium.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Bold.otf");
    font-weight: 700;
    font-style: normal;
  }

  .glass {
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
  }
  .divider {
    @apply h-[1.8125rem] w-[0.0625rem];
  }

  h2 {
    @apply text-[4rem] font-bold leading-normal text-whiteBG;
  }

  h3 {
    @apply text-white text-xl font-bold leading-normal;
  }
  p {
    @apply text-whiteBG text-xl font-light;
  }
  nav button {
    @apply py-2.5 px-3 transition-colors rounded-xl;
  }
  nav button.selected {
    @apply bg-whiteBG text-deepGray rounded-xl;
  }
  section.contact {
    background: radial-gradient(
        121.57% 105.63% at 93.3% 144.78%,
        #313492 0%,
        rgba(65, 91, 210, 0) 100%
      ),
      radial-gradient(
        138.98% 93.81% at 116.7% 109.77%,
        #9033ff 0%,
        rgba(148, 75, 236, 0) 100%
      ),
      radial-gradient(
        123.8% 83.23% at -23.02% -33.79%,
        #1b2642 0%,
        rgba(27, 38, 66, 0) 100%
      ),
      radial-gradient(126.6% 75.54% at -9.55% 21.24%, #0d0d0d 0%, #000 100%),
      radial-gradient(192.63% 101.86% at 100% 79.74%, #0d0d0d 0%, #000 100%),
      #000;
  }
  input {
    @apply outline-none;
  }

  input.primary {
    @apply rounded-lg p-2.5 text-deepGray placeholder-[#818181] text-sm font-medium bg-[#E7E7E7] leading-normal w-full;
  }
  label.primary {
    @apply text-black text-base font-medium pb-[0.5625rem] pt-[1rem];
  }
  div.contact {
    @apply py-[0.9375rem] text-deepGray placeholder-[#818181] text-sm font-medium bg-transparent border-b border-b-[#1A1A1A] leading-normal w-full;
  }
  a.contact {
    @apply hover:text-deepGray/80 transition-colors;
  }
  label.secondary {
    @apply text-[#8D8D8D] text-base font-medium  pt-[1rem];
  }
  textarea {
    @apply rounded-lg p-2.5 text-deepGray placeholder-[#818181] text-sm font-medium bg-[#E7E7E7] leading-normal resize-none w-full outline-none;
  }
  button.send {
    @apply bg-deepGray text-whiteBG py-3 px-4 flex items-center justify-center gap-2.5 rounded-2xl mt-4;
  }
  .floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  .scroll-fade {
    @apply transition-opacity duration-500;
  }
}
