@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #0e1111;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Light.otf");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Medium.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Bold.otf");
    font-weight: 700;
    font-style: normal;
  }

  .glass {
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
  }
  .divider {
    @apply h-[1.8125rem] w-[0.0625rem];
  }
  h2 {
    @apply text-[4rem] font-bold leading-normal text-whiteBG;
  }

  h3 {
    @apply text-white text-xl font-bold leading-normal;
  }
  p {
    @apply text-whiteBG text-xl font-light;
  }
  nav button {
    @apply py-2.5 px-3 transition-colors rounded-xl;
  }
  nav button.selected {
    @apply bg-whiteBG text-deepGray rounded-xl;
  }
}
